<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>개미는 뚠뚠</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="css/styles.css" rel="stylesheet" />
        <!--slick slider-->
        <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    </head>
    <body>

        <!--로그인 정보에 따라 노출 유무 결정-->
        <header>
            <div class="wish login" style="display: none;">🎉<strong>아이폰13PRO</strong>까지 <strong>5일</strong> 남았습니다.✨</div>
        </header>

        <!--페이지 상단 공통 : logo & nav-->
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container">
                <a id="logo" class="navbar-brand" href="@{/antddun}">개미는 뚠뚠</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-lg-0">
                        <li><a class="nav-link" href="@{/antddun/market}">소소한JOB</a></li>
                        <li><a class="nav-link" href="@{/antddun/qna}">QnA</a></li>
                        <li><a class="nav-link" href="@{/antddun/board}">자유게시판</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--홈 메뉴-->
        <div class="container">
            <div class="row">

                <!--홈 좌측 : 회원정보 / 광고 / 점메추-->
                <div class="col-lg-3">
                    <div class="mb-3 menuMargin">
                        <div>
                            <button class="button btn_line login">
                                <a href="@{/member/login}">로그인</a>
                            </button>
                            <button class="button btn_full login">
                                <a href="@{/member/register}">회원가입</a>
                            </button>
                        </div>
                    </div>

                    <div class="fullsize">
                        <div class="mb-3 menuMargin">
                            <h4>오늘 점심메뉴는?</h4>
                            <div class="slot-machine group">
                                <div class="reel">떡튀순</div>
                            </div>
                            <button class="button btn_lunch">메뉴 고르기</button>
                        </div>

                        <div class="card mb-3">
                            <img src="http://www.ilyoweekly.co.kr/news/data/20201027/p1065596013473137_110_thum.jpg" />
                        </div>

                        <div class="card mb-3">
                            <img src="http://www.ilyoweekly.co.kr/news/data/20201027/p1065596013473137_110_thum.jpg" />
                        </div>
                    </div>

                </div>

                <!--홈 우측 : 게시물 리스트-->
                <div class="col-lg-9">
                    <div class="mb-4">
                        <section class="card mg_bottom">
                            <div class="card-header">
                                <h3 class="boardlist">소소한JOB 카테고리</h3>
                            </div>
                            <div class="card-body">
                                <div id="page">
                                    <div class="row">
                                        <div class="column small-11 small-centered">
                                            <section class="visual">
                                                <div><img src="http://placehold.it/160x160?text=1" style="margin:0.5px;"/></div>
                                                <div><img src="http://placehold.it/160x160?text=2" style="margin:0.5px;"/></div>
                                                <div><img src="http://placehold.it/160x160?text=3" style="margin:0.5px;"/></div>
                                                <div><img src="http://placehold.it/160x160?text=4" style="margin:0.5px;"/></div>
                                                <div><img src="http://placehold.it/160x160?text=5" style="margin:0.5px;"/></div>
                                                <div><img src="http://placehold.it/160x160?text=6" style="margin:0.5px;"/></div>
                                                <div><img src="http://placehold.it/160x160?text=7" style="margin:0.5px;"/></div>
                                                <div><img src="http://placehold.it/160x160?text=8" style="margin:0.5px;"/></div>
                                                <div><img src="http://placehold.it/160x160?text=9" style="margin:0.5px;"/></div>
                                                <div><img src="http://placehold.it/160x160?text=more"/></div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="card mg_bottom">
                            <div class="card-header">
                                <h3 class="boardlist">QnA</h3>
                                <span class="more"><a href="@{/antddun/qna}">더보기</a></span>
                            </div>
                            <div class="card-body">
                                <table class="table" style="table-layout: fixed">
                                    <tbody>
                                    <tr>
                                        <td class="category"><span class="tag_web">웹개발</span></td>
                                        <td style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">Spring webflux와 mvc를 사용하는 경우 성능어떻게 될까요??</td>
                                        <td class="data"><img src="assets/coins.png" width="19"> 150</td>
                                        <td class="data"><img src="assets/eye.png" width="20"> 67</td>
                                        <td class="data"><img src="assets/messenger.png" width="18"> 5</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>

                        <section class="card mg_bottom">
                            <div class="card-header">
                                <h3 class="boardlist">내일이면 사라져요!</h3>
                                <span class="more"><a href="@{/antddun/qna}">더보기</a></span>
                            </div>
                            <div class="card-body">
                                <table class="table" style="table-layout: fixed">
                                    <tbody>
                                    <tr>
                                        <td class="peong">💣</td>
                                        <td class="category"><span class="tag_web">웹개발</span></td>
                                        <td class="title" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">Spring webflux와 mvc를 사용하는 경우 성능어떻게 될까요??</td>
                                        <td class="data"><img src="assets/heart.png" width="19"> 150</td>
                                        <td class="data"><img src="assets/eye.png" width="20"> 67</td>
                                        <td class="data"><img src="assets/messenger.png" width="18"> 5</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>

                        <section class="card mg_bottom">
                            <div class="card-header">
                                <h3 class="boardlist">자유 게시판</h3>
                                <span class="more"><a href="@{/antddun/qna}">더보기</a></span>
                            </div>
                            <div class="card-body">
                                <table class="table" style="table-layout: fixed">
                                    <tbody>
                                    <tr>
                                        <td class="peong">💣</td>
                                        <td class="category"><span class="tag_web">웹개발</span></td>
                                        <td style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">Spring webflux와 mvc를 사용하는 경우 성능어떻게 될까요??</td>
                                        <td class="data"><img src="assets/heart.png" width="19"> 150</td>
                                        <td class="data"><img src="assets/eye.png" width="20"> 67</td>
                                        <td class="data"><img src="assets/messenger.png" width="18"> 5</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>

                        <div class="mbsize">
                            <div class="card mb-3">
                                <img src="http://www.ilyoweekly.co.kr/news/data/20201027/p1065596013473137_110_thum.jpg" />
                            </div>
                            <div class="mb-3 menuMargin">
                                <h4>오늘 점심메뉴는?</h4>
                                <div class="slot-machine group">
                                    <div class="reel">떡튀순</div>
                                </div>
                                <button class="button btn_lunch">메뉴 고르기</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright ⓒ개미는뚠뚠 2021</p></div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

        <script>
            <!--사이즈별 점심메뉴 & 광고 위치 변경-->
            $(window).resize(function() {
                if ($(window).width() < 992) {
                    $('.fullsize').hide();
                    $('.mbsize').show();
                } else {
                    $('.mbsize').hide();
                    $('.fullsize').show();
                }
            });

            <!--slick slider JS-->
            $('.visual').slick({
              slidesToShow: 5,
              slidesToScroll: 5
            });

            var filtered = false;

            $('.js-filter').on('click', function(){
              if (filtered === false) {
                $('.visual').slick('slickFilter',':even');
                $(this).text('Unfilter Slides');
                filtered = true;
              } else {
                $('.visual').slick('slickUnfilter');
                $(this).text('Filter Slides');
                filtered = false;
              }
            });
        </script>
    </body>
</html>
