<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>개미는 뚠뚠</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="wish">ㅇㅇㅇ까지 ㅇ일 남았습니다.</div>
        </header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container">
                <a id="logo" class="navbar-brand" href="@{/antddun}">개미는 뚠뚠</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-lg-0">
                        <li><a class="nav-link" href="@{/antddun/market}">소소한JOB</a></li>
                        <li><a class="nav-link" href="@{/antddun/qna}">QnA</a></li>
                        <li><a class="nav-link" href="@{/antddun/board}">자유게시판</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="mb-4">
                        <section class="card mg_bottom">
                            <div class="card-header">
                                <h3>소소한JOB 카테고리</h3>
                            </div>
                            <div class="card-body">
                                <div id="page">
                                    <div class="row">
                                        <div class="column small-11 small-centered">
                                            <div class="slider slider-nav">
                                                <div><h6><span>1</span></h6></div>
                                                <div><h6><span>2</span></h6></div>
                                                <div><h6><span>3</span></h6></div>
                                                <div><h6><span>4</span></h6></div>
                                                <div><h6><span>5</span></h6></div>
                                                <div><h6><span>6</span></h6></div>
                                                <div><h6><span>7</span></h6></div>
                                                <div><h6><span>8</span></h6></div>
                                                <div><h6><span>9</span></h6></div>
                                                <div><h6><span>10</span></h6></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="card mg_bottom">
                            <div class="card-header">
                                <h3>QnA</h3>
                                <span><a href="@{/antddun/qna}">더보기</a></span>
                            </div>
                            <div class="card-body">insert info</div>
                        </section>
                        <section class="card mg_bottom">
                            <div class="card-header">
                                <h3>내일이면 사라져요!</h3>
                                <span><a href="@{/antddun/board/peong}">더보기</a></span>
                            </div>
                            <div class="card-body">insert info</div>
                        </section>
                        <section class="card mg_bottom">
                            <div class="card-header">
                                <h3>자유게시판</h3>
                                <span><a href="@{/antddun/board}">더보기</a></span>
                            </div>
                            <div class="card-body">insert info</div>
                        </section>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="mb-3">
                        <div>
                            <button class="button btn_line login">
                                <a href="@{/member/login}">로그인</a>
                            </button>
                            <button class="button btn_full login">
                                <a href="@{/member/register}">회원가입</a>
                            </button>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <img src="https://akademi.semroot.com/wp-content/uploads/2019/12/google-ads.jpg" />
                    </div>

                    <div class="mb-3">
                        <h4>오늘 점심메뉴는?</h4>
                        <div class="slot-machine group">
                            <div class="reel">떡튀순</div>
                        </div>
                       <button class="button btn_lunch">메뉴 고르기</button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright ⓒ개미는뚠뚠 2021</p></div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
